<%- include('../partials/header') %>

<table id="list">
  <thead>
    <tr>
      <!-- <th>Title</th>
      <th>Release<br>Year</th> -->
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% trees.forEach(function(tree) { %>
      <tr>
        <td><%= tree.name %></td>
        <!-- <td><%= tree.leaf %></td> -->
        <td><a href="/trees/<%= tree._id %>">FACTS</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  
<%- include('../partials/footer') %>