<%- include('../partials/header') %>

<section id="show-page">
    <div>Tree Name: </div>
    <div><%= tree.name %></div>
    <div>Scientific Name: </div>
    <div><%= tree.scientific_name %></div>
    <div>Max Height: </div>
    <div><%= tree.max_height %>'</div>
    <div>Leaf Type: </div>
    <div><%= tree.leaf %></div>
  </section>

<%- include('../partials/footer') %>