<%- include('../partials/header') %>

<section id="show-page">
    <div>Tree Name: </div>
    <div><%= tree.name %></div>
    <div>Scientific Name: </div>
    <div><%= tree.scientific_name %></div>
    <div>Max Height: </div>
    <div><%= tree.max_height %>'</div>
    <div>Leaf Type: </div>
    <div><%= tree.leaf %></div>
  </section>

  <form action="/trees/<%= tree._id %>/comments" method="POST">
    <input type="text-area" name="content" required>
    <button type="submit">Submit</button>
  </form>

<%- include('../partials/footer') %>